{% extends 'appmain/base.html' %}

{% block title %}register{% endblock %}
{% block css %}
{% endblock %}



{% block content %}
    <div>{{ error_msg }}</div>
    <div>测试账号：u1 123qwe</div>
    <form role="form" action="/userlogin/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username" style="font-weight: lighter">用户名</label>
            <input type="text" name="username" value="u1"
                   class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="password" style="font-weight: lighter">密码</label>
            <input type="password" name="password" value="123qwe"
                   class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-default">登录</button>
        or <a href="/register/" class="btn btn-default">注册！</a>
    </form>
{% endblock %}
