{% extends 'appmain/base.html' %}
{% block title %}mark{% endblock %}
{% block css %}

{% endblock %}

{# action="/mark/?linkid={{ link.id }}"#}

{% block content %}
    <form role="form" method="post" class="bootstrap3">
        {% csrf_token %}
        {{ form }}
        <br>
        <button type="submit" class="btn btn-default">保存</button>
    </form>



{% endblock %}

{% block js %}

    <script>
        var simplemde = new SimpleMDE(
                {
                    element: document.getElementById("id_content"),
                    spellChecker: false
                }
        );
        $(function () {
            $('input#id_title').focus();
        });
        $(function () {
            $("[name='is_public']").bootstrapSwitch();
        })
    </script>
{% endblock %}