{% load my_tags %}
<div class="search">
    <form role="form">
        <div class="form-group">
            <label for="sinput"></label>
            <input style="font-size: larger;height: auto"
                   autofocus="autofocus" id="sinput"
                   type="text" class="form-control">
        </div>
    </form>

    <div class="btn-group btn-group-lg">
        {% for aa in search_box %}
            <a href="{{ aa|mytag_getkey:2 }}" id="{{ aa|mytag_getkey:0 }}" target="_blank"
               type="botton" class="btn btn-default">{{ aa|mytag_getkey:1 }}</a>
        {% endfor %}

    </div>

</div>